*{
    background-color: rgb(220, 220, 220);
    color: white;
  }
  .nav{
    height: 20vh;
    width: 100%;
    background-color: rgb(220, 220, 220);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20vh;
    width: 100%;
    color: rgb(74, 55, 55);
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  